var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID 
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
s.parentNode.insertBefore(g,s)}(document,"script"));

var links = [
	{url:'my.site.com:8080',img:'img/sickbeard.png'},
	{url:'my.site.com:8081',img:'img/couchpotato.png'},
	{url:'my.site.com:8082',img:'img/xbmc.png'},
	{url:'my.site.com:8083',img:'img/sab2_512.png'},
	{url:'my.site.com:8084',img:'img/transmission.png'}
];

var config = {
	user:'myUsername',
	password:'myAwesomePassword',
	trakt:{username:'myTraktUsername'}
};